#weatherContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-weight: 500;
    padding: 10px 30px;
}

#weatherContainer > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-end {
    align-items: flex-end;
}

#weatherContainer > ul > li {
    padding: 5px 0px;
}

#dayOfWeek {
    font-weight: bold;
    font-size: 1.5rem;
}

#weatherIcon {
    transform: translateX(10px);
}

.backGroundRain {
    background-image: url('./../assets/rain.jpg');
    background-position: center;
    background-size: 350px 200px;
}