.widgetContainer {
    border-radius: 1rem;
    display: grid;
    grid-template-columns: minmax(1fr, 50px) 3fr;
    grid-template-rows: 2rem 1fr;
    column-gap: 10px;
    row-gap: 0;
    padding: 1rem;
}

.widgetContainer > h3 {
    margin-top: 0;
}

#factContainer {
    grid-column: 2 / 3;
}

.bgWhite {
    background-color: #fff;
}

#lightBulp {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    height: 3rem;
}