.widget {
    border: 1px solid #ddd;
    border-radius: 16px;
    padding: 16px;
    margin: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #F4F9FD;
}

.widget-header {
    padding-bottom: 8px;
    margin-bottom: 16px;
}

.widget-header h2 {
    margin: 0;
    font-size: 1.5em;
    color: #333;
}

.widget-content {
    font-size: 1em;
    color: #555;
}