.widget {
    border: 1px solid #ddd;
    border-radius: 16px;
    padding: 32px 32px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #F4F9FD;
    color: #142083;
    text-align: start;
}

.widget-top-left {
    grid-row: 2 / 3;
    padding: 0;
}

.widget-bottom-left {
    grid-row: 3 / 5;
}

.widget-center-left {
    grid-column: 2 / 3;
    grid-row: 2 / 5;
}

.widget-center-right-top {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
}

.widget-center-right-bottom {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
}

.widget-right {
    grid-column: 4 / 5;
    grid-row: 2 / 5;
}

.widget-header {
    padding-bottom: 8px;
    margin-bottom: 16px;
    display: flex;
    justify-content: flex-start;
    gap: 1.25rem;
}

.widget-header h2 {
    margin: 0;
    font-size: 1.5em;
}

.widget-content {
    font-size: 1em;
}

.bg-yellow {
    background-color: #FFF8DE;
}

#NS-icon {
    height: 1rem;
    align-self: center;
    transform: translateY(-0.15rem);
}